* {
    font-family: sans-serif;
    color: #c0b283;
    font-size: 15px;
}

body,
html {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: white;
    font-size: 4em;
    font-weight: light;
}

.homepage-url {
    background-image: url(sound.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage-container {
    background-color: #2f3131;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.homepage-container2 {
    min-height: 100px;
    border-radius: 40px;
    box-shadow: 0 0 30px;
    background-color: #2f3131;
    max-width: 398px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
}

.signUpBcg {
    background-image: url(headphonesbcg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.search-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

input,
button {
    font-size: 1em;
    padding: 7px;
    margin: 0 0 0 10px;
    border: 1px solid darkslateblue;
    border-radius: 5px;
}

button {
    background-color: aliceblue;
}

button:hover {
    background-color: gold;
}

h1 {
    color: white;
}

.apiResultbackgroundColor {
    background-color: #050101;
}

.friendly {
    background-repeat: no-repeat;
    height: 100px;
    /*display: inline;*/
    cursor: pointer;
}

.friendly:hover {
    transform: rotate(0.5deg);
}

.section {

    min-height: 100px;
    border-radius: 10px;
    box-shadow: 0 0 30px max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.apiImage {
    /*height: 100px; */
    width: 150;
    /*margin-top: -10px;*/
}

.create-container {
    width: 630px;
    margin: 0 auto;
    /*color: #000;*/
    color: #c0b283;
    background: #fff;
    padding: 7px;
    border: 8px solid;
    margin-top: 169px;
}

.edit-divider {
    height: 100px;
    display: block;
    width: 80%;
    margin: 0 auto;
}

#submit:hover {
    color: gold;
    cursor: pointer;
}

.userCreation-container {
    display: inline-flex;
}

.dot {

    border: black;
    border-top: 2px dotted black;
    border-bottom: 1px solid;
    padding-right: 400px;
}

.saveSongColor {
    color: black;
}