<!DOCTYPE html>
<html style="background-color: black">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login User</title>
  <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
  <main>
    <section>
      <h1>Login</h1>
 <div class="homepage-container2">
       <img src="/css/images.png" alt="">
      <form action="/users/login" method="POST">
        <label for="email">Email</label><br>
        <input id="email" type="text" name="user[email]" placeholder="john.doe@example.com"><br>
        <label for="password">Password</label><br>
        <input id="password" type="password" name="user[password]" placeholder="P4ssw0rd1234"><br>
        <input type="submit" value="Login">
      </form>
      <div>
        <a href="/users/new"><button>Sign Up</button></a>
      </div>
    </section>
  </div>
  </main>
</body>
</html>
