<!DOCTYPE html>
<html class="apiResultbackgroundColor">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
    <main> <b>Welcome to your profile, {{user.email}}</b>
        <div>
            <section>
                <a href="../users/track">create</a>
                <a href="../users/saveSongs">edit/delete</a>
                <a href="/users/logout">Logout </a>
        </div>
        </section>
    </main>
    <form method="GET" class="search-container" action="/users/viewArtist">
        <input name="artistName" type="text">
        <button type="submit">search </button>
    </form>
    <div style="center">
        <div class="result">
            {{#searchData.results}}
            <div class="left"> Artist: {{artistName}} </div>
            <center>
                <div> Track: {{trackName}}</div>
            </center>
            <div class="left"> Country: {{country}}</div>
            <div class="right"> Genre: {{primaryGenreName}}</div>
            <br />
            <div class="right"> Price: {{trackPrice}}</div>
            <br />
            <div class="apiImage"> <img src="{{artworkUrl100}}" alt=""></div>
            <div>
                <br />
                <audio controls>
                    <source src="{{previewUrl}}" type="audio/ogg">
                    <source src="{{previewUrl}}" type="audio/mpeg">
                </audio>
            </div>
            {{/searchData.results}}
            </p>
        </div>
    </div>
</body>

</html>