<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="">
    <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>

</head>
<body>
  <form id="createTrack" action="/artists/saveSongs" method="POST">
      <input type="text" name="artistName" placeholder="artist name">
            <br>
            <input  id="new" type="text" name="trackName" placeholder="Track name">
            <br>
            <input  id="new"type="text" name="country" placeholder="country">
            <br>
            <input id="new" type="text" name="primaryGenreName" placeholder="genre">
            <br>
             <input  id="new"type="text" name="price" placeholder="price">
            <br>
            <input type="submit" value="create">


  </form>



</body>
</html>