<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="style.css">
   <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
  <h1>hello</h1>

                <div>
                    <p>{{trackData.trackname}}</p>
                    <p>{{trackData.artistname}}</p>
                    <p>{{trackData.country}}</p>
                    <p>{{trackData.primarygenrename}}</p>
                    <p>{{trackData.price}}</p>
                </div>
                <a href="users/profile"> NEXT</a>




</body>
</html>